[Unit]
Description=Serving Moin Moin Wiki
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c "/usr/bin/docker rm -f moinmoin > /dev/null ; true"
ExecStartPre=/usr/bin/docker pull ndslabs/moinmoin
ExecStart=/usr/bin/docker run \
    --name moinmoin \
    -p 80 \
    ndslabs/moinmoin
ExecStop=/usr/bin/docker stop -t 5 moinmoin

[X-Fleet]
MachineMetadata=elastic_ip=false
MachineMetadata=mounts=true
