[Unit]
Description=ownCloud
BindsTo=postgres-owncloud.service irods-rest.service
Requires=etcd.service docker.service irods-rest.service postgres-owncloud.service
After=irods-rest.service
Before=owncloud-sidekick.service

[Service]
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c "/usr/bin/docker rm -f owncloud1 > /dev/null ; true"
ExecStartPre=/usr/bin/docker pull ndslabs/owncloud
ExecStart=/usr/bin/docker run \
    -p 80 \
    --link db2:db2 \
    --link irodsrest:irodsrest \
    -v /mnt/data/owncloud/config:/var/www/owncloud/config \
    -v /mnt/data/owncloud/data:/var/www/owncloud/data \
    --name owncloud1 \
    ndslabs/owncloud
ExecStop=/usr/bin/docker stop -t 5 owncloud1

[X-Fleet]
MachineOf=postgres-owncloud.service
